<h1>Add a movie</h1>

<! Adding form for creating a movie >
<form action="/add_movie" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="name" autofocus><br>
  <label for="director">Director</label><br>
  <input type="text" name="director"><br>
  <label for="release_date">Release Date (year)</label><br>
  <input type="text" name="release_date"><br>
  <button>Add movie</button><br>
  <br>