<h1>Add a person</h1>

<! Adding form for creating a person >
<form action="/add_person" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="name" autofocus><br>
  <button>Add person</button><br>
  <br>