<form action = "/people" method = "post">
	<input type = "text" name = "name" value = "<%=@person['name']%>">
	<input type = "text" name = "email" value = "<%=@person['email']%>">
	<button>Edit This Person</button>
</form>
