<form action="/people/<%= @person['id'] %>/edit" method="post">
  <input type="text" name="person_name" value="<%= @person['person_name'] %>" autofocus="true"><br/>
  <input type="text" name="director" value="<% if @person['director'] == 't' %>yes<% else %>no<% end %>"><br/>
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value="<%= movie['id'] %>">
        <%= movie['movie_name'] %>
      </option>
    <% end %>
  </select><br/>
  <button>Submit</button>
</form>