<h1>Edit Person</h1>
<form action="/people/<%= @person_id %>" method="post">
  <input type="text" value="<%= @person_details['name'] %>"name="name">
  <button>Edit Name</button>
</form>

<p><a href="/people<%= @person_details['id'] %>/edit">People</a></p>