<form action = "/people/<%=@person['id']%>/edit" method = "post" class = "pure-form pure-form-stacked">
	<label> Name </label>
	<input type = "text" name = "name" value = "<%=@person['name']%>">
	<label> Email </label>
	<input type = "text" name = "email" value = "<%=@person['email']%>"><br>
	<button class="pure-button">Edit This Person</button>
</form>
