<h1>Welcome To The Production App</h1>
<div class="home_buttons">
  <a class="buttons" href="/people">People</a>
  <a class="buttons" href="/movies">Movies</a>
  <a class="buttons" href="/tasks">Tasks</a>
</div>