<h1>  Track, Assign, Complete </h1>
<p style = "text-indent: 10px"> Welcome to ProduceIt, a dynamic new app that will
	change the way you produce your films. To get started, 
	add a tasks, people, or movies by clicking one of the 
	menu bar items</p>

<a href = '/movies/new' ><div class = "addItem" style = "width: 330px">
	<h3> Add a movie </h3>
</div></a><br>

<a href = '/people/new'><div class = "addItem" style = "width: 330px">
	<h3> Add your team </h3>
</div></a><br>

<a href = '/todos/new'><div class = "addItem" style = "width: 330px">
	<h3> Add your tasks </h3>
</div></a><br>	

