<!doctype html>
<html>
<head>
	<title>ProduceIt</title>
</head>
<body>
	<h1> ProduceIt </h1>
	<%=yield%>
	<h3><a href = '/todos'>Todos </a></h3><br>
	<h3><a href = '/people'> People </a> </h3><br>
	<h3><a href = '/movies'> Movies </a> </h3><br>
</body>
</html>
