<!doctype html>
<html>
<head>
	<title>ProduceIt</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<div class="menuBar" >
		
		<ul>
			<div><h1><a href = "/" >ProduceIt </a></h1></div>
			<li><div class = 'menuButton'><a href = '/todos'>Todos </a></div></li>
			<li><div class = 'menuButton'><a href = '/people'> People </a></div> </li>
			<li><div class = 'menuButton'><a href = '/movies'> Movies </a></div> </li>
		</ul>
		<div class = "container">
			<%=yield%>
		</div>
	</div>
</body>
</html>
