<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<%=yield%>
	<a href = '/todos'>Todos </a><br>
	<a href = '/people'> People </a> <br>
	<a href = '/movies'> Movies </a> <br>
</body>
</html>
