<!DOCTYPE html>

<html>
  <head>
    <title>Movie Produciton Todo App</title>
    <link rel='stylesheet' href='css/style.css'>
  </head>

  <body>
    <header>
      <img src="/images/pink-unicorn.jpg" width=50px>
    </header>
    <nav>
      Navigation: <a href="/">Home</a> | <a href="/movies">Movies</a> | <a href="/todos">Tasks</a> | <a href="/people">People</a>
    </nav>

    <%= yield %>

    <br><br><br><br>
    <footer>
      Here's a footer
    </footer>
  </body>
</html>
