<!DOCTYPE html>
<html>
<head>
  <title>Movie Production</title>
  <link rel="stylesheet" href="/css/style.css"
</head>
<header>
  <div class="header">

  <ul>
    <li><a href="/">Home</a></li>
  </ul>
      </div>
</header>
<body>
<%= yield %>
</body>
</html>