<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Production planner</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>Cinemanage</header>
    <nav>
      <div id="change"><a href="/movies">Movies</a>
      <a href="/people">People</a>
      <a href="/tasks">Tasks</a></div>
    </nav>
    <%= yield %>
    <br>

  </body>
</html>