<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Movie Task Manager</title>
  <link rel='stylesheet' href='/css/reset.css'>
  <link href='http://fonts.googleapis.com/css?family=Trochut' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
<h1>Filmager</h1>
  <%= yield %>
</body>

</html>