<!doctype html>
<html>
<head>
	<title>ProduceIt</title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<div class="menuBar" >
		<ul>
			<img src = "/logo.png" id = 'logo'/>
			<h1 style = "display: inline-block"><a href = "/" >ProduceIt </a></h1>
			<li><div class = 'menuButton'><h3><a href = '/todos'>Todos </a></h3></div></li>
			<li><div class = 'menuButton'><h3><a href = '/people'> People </a></h3></div> </li>
			<li><div class = 'menuButton'><h3><a href = '/movies'> Movies </a></h3></div> </li>
		</ul>
	</div>

	<div class = "container" style = "width: 400px">
		<%=yield%>

	</div>
</body>
</html>
