<form action="/movies/new" method="POST">
  Title:<input type="text" name="title">
  Release Date:<input type="text" name="release_date">
  Director:<input type="text" name="director">
   <button>Add this movie! </button>
</form>