<!-- list movies -->
<div>
	<a href='movies/new'>New Movie</a>
</div>

<div>
	<h1>Movies</h1>
	<ul>
		<%@movies.each do |movie|%>
			<a href = '/movies/<%=movie["id"]%>'><%=movie["title"]%> </a><br>
		<%end%>
	</ul>
</div>