<form action="/people/new" method="post" >
  <input type="text" name="name">
  <input type="text" name="director">
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value='<%= movie['id'] %>'>
        <%= movie['movie_name'] %>
      </option>
    <% end %>
  </select>
  <button>Add person</button>
</form>