<h1>Add A New Person</h1>
<form action="/people/new" method="post">
  <input type="text" name="name" placeholder="name">
  <button> Create New Person</button>
<form>

  <p><a href="/people">People</a></p>