<div>
<form action="/new_person" method="post">
  Name: <input type="text" name="name"></input><br/>
  <br/>
  <button>Add New Person</button>
</form>
<br/>
<a href="/people">Back to People</a>
</div>