<h1>Add a New Movie to Make</h1>
<p>Enter the title of the movie you want to re-make, despite the fact your re-make will be substantially inferior to the original.</p>

<form action='/movies/new' method='post'>
  <input type="text" name="title" placeholder="Enter title here" size="30px"><br/>
  <button>Submit</button>
</form>




