<form action = "/people" method = "post" class = "pure-form pure-form-stacked">
	<label>Name</label>
	<input type = "text" name = "name" placeholder = "name">
	<label>Email</label>
	<input type = "text" name = "email" placeholder = "email"> <br>
	<button>Add This Person</button>
</form>
