<form action="/people/new" method="post" >
  <label for="name">Enter a director name</label><br/>
  <input type="text" name="name" autofocus="true"><br/>
  <button>Submit</button>
</form>
<a href="/people">People</a><br/>
<a href="/">Index</a>