<h1>Add a New Slave to Your Team</h1>
<p>Enter the information of your new slave below, and he/she will be ready to slave away for your movies.</p>

<form action='/people/new' method='post'>
  <input type="text" name="name" placeholder="Enter name here" size="30px"><br/>
  <input type="text" name="title" placeholder="Enter title here" size="30px"><br/>
  <input type="text" name="phone" placeholder="Enter phone here" size="30px"><br/>
  <input type="text" name="idiot" placeholder="Idiot? True or false" size="30px"><br/>
  <button>Submit</button>
</form>




