<form action="/movies/new" method="post">
  <label for="name">Enter a movie title</label><br/>
  <input type="text" name="name" autofocus="true"><br/>
  <label for="release_date">Enter a release date</label><br/>
  <input type="text" name="release_date"><br/>
  <button>Add movie</button>
</form>