<form action = '/movies' method = "post" class = "pure-form pure-form-stacked">
	<label>Name</label>
	<input type="text" name="title" placeholder="title"><br>
	<label>Description</label>
	<input type="text" name="description"placeholder="description"><br>
	<label for="person_id"> Director 
		<select name = "person_id">
			<%@people.each do |person|%>
				<option value = "<%=person["id"]%>">
					<%=person["name"] %>
				</option>
			<%end%>
		</select>
	</label><br>
	<button> Add Movie</button>
</form>
