<form action = "todos" method = post>
	<input type = "text" name = "task" placeholder = "task">
	<input type = "text" name = "details" placeholder = "details">
	<label for="urgent">
		<input type = "radio" name = "urgent" value = "true"> Urgent
	</label>
	<label for="urgent">
		<input type = "radio" name = "urgent" value = "false"> Not Urgent
	</label>
</form>
