<h1>This is your personnel</h1>
<button><a href="/people/new">Make a new to do here<a/></button>
<div>
<br>
<% @people.each do |people| %>
<%= people['name'] %>
<%= people['movie']%>
<%= people['task']%>
</div>
<% end %>