<h1> People: </h1>
<%@people.each do |person|%>
	<div class = "listButton"><a href ='/people/<%=person["id"]%>'><%=person["name"]%></a></div><br>
<%end%>
<div class = "addItem" style = "width: 250px"><h3><a href = 'people/new'>New Person</a></h3></div><br>
