<h2><%= @person['person_name'] %></h2>
<p>
  <% if @person['director'] == 't' %>
    Position: Director
  <% else %>
    Position: Crew
  <% end %>
</p>
<p>Movie: <%= @movie['movie_name'] %></p>

<form action="/people/<%= @person['id'] %>/delete" method="post">
  <button>Delete</button>
</form