<form action="/todos/new" method="POST">
  Name:<input type="text" name="name">
  Movie:<input type="text" name="movie">
  Task:<input type="text" name="task">
   <button>Add this person! </button>
</form>