<div>
	<a href="/people/<%=@person['id']%>/edit">Edit Person</a>
	<a href="/people/<%=@person['id']%>/delete">Delete Person</a>
</div>

<div>
	<h1>Contact</h1>
	<p><%=@person["name"]%></p>

	<h1>Email</h1>
	<p><%=@person["email"]%></p>
</div>