<h4><%= @person['name'] %></h4>
<p><%= @person['title'] %></p>
<p><%= @person['phone'] %></p>
<p><a href="/edit_person/<%= @person['id'] %>">Edit contact</a></p>

<p><a href="/people">Back to contacts page</a></p>