<h1><%= @person['name'] %></h1>

<ul>
  <li><%= @person['title'] %></li>
</ul>

<p>
  <a href="/people/<%= @person['id'] %>/edit">Edit This Person</a>
</p>

<form action="/people/<%= @person['id'] %>/delete" method="post">
  <button>Delete This Person</button>
</form>