<%=@todo["task"]%><br>
<%=@todo["details"]%> <br>
<%=@todo["due"]%> <br>
<p>Urgent: 
	<% if @todo["urgent"] == 't' %>
		Yes
	<%else%>
		No
	<%end%> 
</p>
<a href = "todos/<%=@todo["task"]%>/edit"> Edit Task</a>
