<h1>Tasks</h1>

<!-- creates a list with the name of each task
each list item includes a link to that task's page -->

<% @movies.each do |movie| %>
  <h3>Tasks for <%= movie['name'] %></h3>
  <ul>
    <% @tasks.each do |task| %>
      <% if task['movie'] == movie['id'] %>
        <li><a href="/tasks/<%= task['id'] %>"><%= task['name'] %></a></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h3><a href="/add_task">Add a task</a></h3>