body{
  background: #ECF0F1;
}

h1{
  background-color: #BDC3C7;
  width: 500px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
}

h2 {
  background: #1ABC9C;
  width: 200px;
  border-radius: 6px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;

}

p {
  background: #2C3E50;
  width: 100px;
  border-radius: 6px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

a {
  color: white;
}

.home_buttons {
  text-align: center;
  padding: 20px;
  margin: auto;
}


.list_item .people_links {
  padding: 2px;
  margin-top: 10px;
}

.list_item {
background: #3498DB;
border-radius: 4px;
color: white;
padding: 5px;
width: 70px;
margin-top: 05px;
margin-left: 10px;
text-align: center;
}